*{
    box-sizing: border-box;
}
body{
    font-family: "Hanken Grotesk", sans-serif;
    height: 100vh;
    font-size: 16px;
    margin: 0;
}
.main-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.first{
    height: 40%;
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
}
.last{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8%;
    border-radius: 10%;
}
.summary{
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 8%;
    color:hsl(224, 30%, 27%);
}
.table{
    display: flex;
    flex-direction: column;
    height: 95%;
    gap: 3%;
}
.reaction, .memory, .verbal, .visual{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    border-radius: 10px;
}
.together-reaction, .together-memory, .together-verbal, .together-visual{
    display: flex;
    align-items: center;
    gap: 10px;
}
.code-reaction, .code-memory, .code-verbal, .code-visual{
    display: flex;
    font-weight: bold;
}
.code-reaction .total, .code-memory .total, .code-verbal .total, .code-visual .total{
    opacity: 0.5;
}
.reaction{
    background-color:hsl(0, 85%, 82%, 0.5);
}
.memory{
    background-color:hsl(39, 87%, 81%, 0.5);
}
.verbal{
    background-color: hsl(167, 100%, 90%, 0.5);
}
.visual{
    background-color: hsl(241, 100%, 89%, 0.5);
}
.together-reaction{
   color:  hsl(0, 100%, 67%);
}
.together-memory{
    color: hsl(39, 100%, 56%);
}
.together-verbal{
    color: hsl(166, 100%, 37%);
}
.together-visual{
    color: hsl(234, 85%, 45%);
}
.numbers{
    margin-right: 5px;
}
.continue{
    font-size: 1.1rem;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(224, 30%, 27%);
    margin-top: 5%;
    border-radius: 50px;
}
.circle{
    border-radius: 50%;
    width: 40%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
    margin-top: 8%;
    position: relative;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.score{
   font-size: 3.5rem;
   font-weight: bolder;
}
.great{
    margin-bottom: 3%;
}
.result{
    font-weight: bold;
    opacity: 0.7;
    font-size: 1.2rem;
}
.great{
font-weight: bolder;
font-size: 1.5rem;
}
.text{
    opacity: 0.7;
}
.of{
    opacity: 0.5;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
@media(min-width: 1440px){
    .main-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }
    .first{
        height:60%;
        border-radius: 10%;
        font-size: 1.2em;
    }
    .first .circle{
        width: 58%;
        height: 45%;
    }
    .result{
        font-size: 1.5rem;
    }
    .last{
        padding: 40px 40px 20px 40px;
        box-shadow: hsl(241, 81%, 54%, 0.1) 0px 50px 100px -20px, hsl(241, 81%, 54%, 0.1) 0px 30px 60px -30px;;
    }
    .summary{
        font-size: 1.5rem;
    }
    .circle{
        margin-top: 45px;
    }
    .great{
        font-size: 1.7em;
    }
}